/* ✅ Import base Tailwind + CSS variable defaults from the UI lib */
@import "../../../../libs/ui/src/styles/globals.css";

/* ✅ Override only what's different for this app */
/*
:root,
[data-theme="light"] {
  --color-primary:       14 165 233;
  --color-primary-light: 186 230 253;
  --color-primary-dark:  2 132 199;
}
*/
